[submodule "etc/vim/bundle/nerdtree"]
	path = etc/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "etc/vim/bundle/snipmate"]
	path = etc/vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "etc/vim/bundle/fugitive"]
	path = etc/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "etc/vim/bundle/surround"]
	path = etc/vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "etc/vim/bundle/unimpaired"]
	path = etc/vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "etc/vim/bundle/taglist"]
	path = etc/vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "etc/vim/bundle/netrw"]
	path = etc/vim/bundle/netrw
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule "etc/vim/bundle/minibufexpl.vim"]
	path = etc/vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "etc/vim/bundle/bufexplorer"]
	path = etc/vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "etc/vim/bundle/jade"]
	path = etc/vim/bundle/jade
	url = https://github.com/vim-scripts/jade.vim.git
