Desktop
Development
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cups
.dbshell
.dropbox
.gem
.history
.links/
.viminfo
.ssh/
.subversion
.rnd
.fontconfig
.Xauthority
.*.swp
